<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/a-3_normalize.css">
    <link rel="stylesheet" href="/css/kfg-31_nAViG.css">
    <link rel="stylesheet" href="/css/bk-12_to3TActIC.css">
</head>
<body>
    <header class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            Akarui Manager
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="https://aoi.js.org/invite" target="_blank">Support Server</a>
          <a href="/workspace">Workspace</a>
        </div>
    </header>

    <main class="pbu-m">
        <h1>Developer built</h1>
        <p>
            Thank you for trying the dev version of Akarui Manager.
            <br><br>
            This project helps you create codes and build a result to be used for packages that are developed by the Akarui Team
        </p>
        <h2>
            What are the project goals?
        </h2>
        <p>
            - Build codes that are suitable for your choice of Akarui-made package
            <br>
            - Easy management
            <br>
            - No hard coding, you will only use "Functions" to create your dream bot.
        </p>
        <h2>Team credits</h2>
        <p>
            - Kino, Web Design
            <br>
            - Azusfin, Web Programming
        </p>
    </main>


    <div class="build">
        build_v0.0.0-wnOCWWyVcotg6AdC1tdF
        <div class="may">
            DISPLAYED SUBJECT MAY CHANGE
        </div>
    </div>
</body>
</html>